# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual environment
# ========================
venv/
.env

# ========================
# ZenML
# ========================
.zen/

# ========================
# MLflow
# ========================
mlruns/
mlflow.db

# ========================
# Models
# ========================
models/
*.keras
*.h5

# ========================
# Datasets
# ========================
data*/
clean_data/
ela_data*/
test_clean/
test_ela/
Test_data/
*.zip

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Docs
# ========================
*.docx
*.pdf
